# <center> Practicum Panda

## Please complete the empty cells using Panda library

 ### Import the libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np

# set this so the 
%matplotlib inline

### Read the DataBase

In [2]:
url = 'DB.csv'
    
db = pd.read_csv(url, sep = '\t')

### See the first 10 entries

In [3]:
db.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### What is the number of observations in the dataset?

In [4]:
db.info() # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### What is the number of columns in the dataset?

In [5]:
db.shape[1]

5

### Print the name of all the columns.

In [6]:
db.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Which was the most-ordered item?

In [14]:
c = db.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(5)

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

### For the most-ordered item, how many items were ordered?

In [15]:
c = db.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### How many items were orderd in total?

In [16]:
total_items_orders = db.quantity.sum()
total_items_orders

4972

### Sort by the name of the item

In [17]:
db.item_name.sort_values()

# OR

db.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### What is the price of each item?

In [19]:
#db[(db['item_name'] == 'Chicken Bowl') & (db['quantity'] == 1)]

# delete the duplicates in item_name and quantity
db_filtered = db.drop_duplicates(['item_name','quantity'])

# select only the products with quantity equals to 1
db_one_prod = db_filtered[db_filtered.quantity == 1]

# select only the item_name and item_price columns
price_per_item = db_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                  item_name item_price
92       Steak Crispy Tacos     $9.25
554   Carnitas Crispy Tacos     $9.25
237     Carnitas Soft Tacos     $9.25
56      Barbacoa Soft Tacos     $9.25
8          Steak Soft Tacos     $9.25
21         Barbacoa Burrito     $8.99
664             Steak Salad     $8.99
54               Steak Bowl     $8.99
33            Carnitas Bowl     $8.99
27         Carnitas Burrito     $8.99
3750         Carnitas Salad     $8.99
12       Chicken Soft Tacos     $8.75
11     Chicken Crispy Tacos     $8.75
44       Chicken Salad Bowl     $8.75
16          Chicken Burrito     $8.49
1694           Veggie Salad     $8.49
1653    Veggie Crispy Tacos     $8.49
1414                  Salad     $7.40
673                    Bowl     $7.40
520            Crispy Tacos     $7.40

### How many times was a Veggie Salad Bowl ordered?

In [20]:
db_salad = db[db.item_name == "Veggie Salad Bowl"]

len(db_salad)

18